.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login input {
  padding: 10px;
  margin-bottom: 20px;
}

.login button {
  padding: 10px;
  width: 100px;
}
